.bg{
    background: url(wall.jpg);
    background-size: cover;
    /* background-image: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%); */
}

.delete-butt{
    /* padding-bottom: 25px; */
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 5px;
    padding-left: 5px;
    align-items: center;
    background: #EF4444;
    
    border: 2px;
    /* border-radius: 25px; */ 
    /* margin-left: 110px; */
    /* align-items: initial; */
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;

}


.check-butt{
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 10px;
    padding-left: 10px;
    background: #10B981;
    align-items:stretch;
    /* margin: 10px; */
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    text-align: center;
    
}



.main-pad{
    padding-bottom: 580px;
    
}

body{
    width: 100vw;
    height: 650px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* overflow: hidden; */
    border: 1px;
    border-radius: 25px;
    /* padding-left: 90px; */
    
}

.card{
    background: #E5E7EB;
    /* position: relative; */
   
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-type: y proximity;
    height: 600px;
    width: 600px;

}

.card2{
    background-color: white;
    border: 2px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 40px;

    font-family: 'Nunito', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    
}

.card2_detail{
    background-color: white;
    border: 2px;
    border-radius: 5px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    margin-top: 20px;
    margin-bottom: 20px;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    height: 50px;
    /* font-family: 'Nunito', sans-serif;
    font-size: 20px;
    align-items:stretch; */
}



.add{
    text-align: center;
    padding: 5px;
    margin-left: 100px;
    margin-top: 20px;
    
     
}

.button{
    background-color: #8a8ac8;
    border: 2px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.font1{
    padding-top: 30px;
    /* margin-bottom: 10px; */
    text-align: center;
    
    font-family: 'Nunito', sans-serif;
    font-weight: 300px;
    font-size: 40px;
}

.font2{
    padding-top: 10px;
    padding-left: 30px;
    /* margin-bottom: 10px; */
    /* text-align: center; */
    
    font-family: 'Nunito', sans-serif;
    font-weight: 300px;
    font-size: 20px;
}

.font3{
    padding-top: 10px;
    padding-left: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-decoration: line-through;
}

.flex{
    display: flex;
}

